@font-face{
    font-family:gotham;
        src: url(fonts/GothamBlack.woff)
             format("woff");
    font-weight:black;
    font-style:normal;   
}
@font-face{
    font-family:gotham;
        src: url(fonts/GothamBold.woff)
             format("woff");
    font-weight:bold;
    font-style:normal;
}


:root {
    --main-color: #0031b0;
    --header-color: #2359e3;
    --text-title: #0035BB;
    --text: #2D68FF;
    --bg-color: #5291d7;
    --bg-second-color: #f8f8f8;
    --form-bg-color: #002589;
}

body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    background-color: var(--main-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-contain {
    width: 100%;
    height: 80px;
    background-color: var(--header-color);
    display: flex;
    place-content: center ;
    box-shadow: 0px 5px 50px 1px rgba(0, 0, 0, 0.25);
}

.header-contain img {
    width: 80px;
}

.grid-container {
    max-width: 90%;
    margin: 0 auto;
    
}

.hero-main-container {
    width: 98%;
    height: 300px;
    /* background-color: var(--bg-color); */
    background-image: url('../img/des360.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 34px auto;
    border-radius: 33px;
    box-shadow: 0px 5px 50px 1px rgba(0, 0, 0, 0.25);
}


.about-container {
    display: grid;
    grid-template-columns: 7fr 8fr;
    gap: 28px;
    margin-bottom: 20px;
}

.about-info-container {
    padding-bottom: 30px;
    max-height: 460px;
    background-color:  var(--bg-second-color);
    border-radius: 33px;
    box-shadow: 0px 5px 50px 1px rgba(0, 0, 0, 0.25);
    padding: 0 30px 0;
    
}

.about-info-container h2 {
    color: var(--text-title);
    font-size: 2.4rem;
    
}

.about-info-container p {
    color: var(--text);
    font-size: 1.4rem;
}

.about-slider {
    max-height: 400px;
    position: relative;
    background-color: var(--bg-second-color);
    border-radius: 33px;
    box-shadow: 0px 5px 50px 1px rgba(0, 0, 0, 0.25);
}

.left-row {
    position: absolute;
    right: calc(100% - 18px);
    bottom: calc(100% - 200px) ;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-color: var(--header-color);
    cursor: pointer;
    background-image: url('../img/angle-left-solid.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.right-row {
    position: absolute;
    left: calc(100% - 18px);
    bottom: calc(100% - 200px) ;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-color: var(--header-color);
    cursor: pointer;
    background-image: url('../img/angle-right-solid.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.about-slider h2 {
    color: var(--text);
    font-size: 2.4rem;
    text-align: center;
}

.contact-container {
    margin-top: 60px;
    margin-bottom: 40px;
    justify-content: center;
    display: grid;
    grid-template-columns: 7fr 8fr;
    grid-template-rows: 90px 400px 90px;
    gap: 20px;
}

.img-contact-container {
    grid-row: 2/1;
    grid-column: 2;
    margin: 0 auto;
    align-items: center;
    opacity: 0.7;
}

.img-contact-container img {
    width: 480px;
    align-self: center;
}

.title-contact-container {
    background-color: var(--form-bg-color);
    color: var(--bg-second-color);
    border-radius: 33px;
    height: 70px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.title-contact-container h2 {
    font-size: 2.8rem;
    position: relative;
    bottom: 26px;
}

.form-contact-container {
    background-color: var(--form-bg-color);
    color: var(--bg-second-color);
    font-size: 1.4rem;
    border-radius: 33px;
    margin-top: 20px;
    height: 380px;
    display: grid;
    grid-template-columns: 7fr 8fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
    gap: 20px;
    box-shadow: 0px 5px 50px 1px rgba(0, 0, 0, 0.25);
}

.form-contact-container input {
    width: 100%;
    height: 40px;
    background: #0035bb;
    border: none;
    border-radius: 33px;
    justify-content: center;
    color: var(--bg-second-color);
    font-size: 1.2rem;
}

.form-contact-container input:focus {
    color: var(--bg-second-color);
}

.form-contact-container label {
    margin-top: 2px;
}

.form-contact-container div:nth-child(5) input{
    height: 80px;
}

.form-contact-container div:nth-child(1) {
    grid-column: 1/2;
}
.form-contact-container div:nth-child(3) {
    grid-column: 1/3;
}
.form-contact-container div:nth-child(4) {
    grid-column: 1/3;
}
.form-contact-container div:nth-child(5) {
    grid-column: 1/3;
}

.button-contact-container {
    grid-row: 3;
    display: flex;
    justify-content: center;
}

.button-contact-container button {
    width: 100%;
    height: 70px;
    font-size: 1.2rem;
    color: var(--bg-second-color);
    background: var(--header-color);
    border: none;
    border-radius: 33px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    box-shadow: 0px 5px 50px 1px rgba(0, 0, 0, 0.25);
}

.button-contact-container button:hover {
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.25);
}

.social-contact-container {
    height: 60px;
    grid-row: 3;
    display: flex;
    justify-content: center;
    gap: 20px;
    color: var(--bg-second-color);
}

.social-contact-container a span {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    width: 52px;
    height: 46px;
    -webkit-transition: 0.2s;
}

.social-contact-container a span:hover {
    width: 58px;
}


.social-contact-container a {
    display: flex;
    align-items: center;
    width: 80px;
    height: 72px;
    border-radius: 12px;
    background-color: var(--bg-second-color);
    box-shadow: 0px 5px 50px 1px rgba(0, 0, 0, 0.25);
    -webkit-transition: 0.2s;
}

.social-contact-container a:hover{
    border-radius: 18px;
}



.discord-contact {
    background-image: url('../img/discord-brands.svg');

}
.youtube-contact {
    background-image: url('../img/youtube-brands.svg');
}

.twitter-contact {
    background-image: url('../img/twitter-brands.svg');
}

footer {
    width: 100%;
    height: 60px;
    background-color: var(--header-color);
}






